name: flutterdoom
description: "Vanilla Doom ported to Flutter"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  ffi: ^2.1.4
  flutter:
    sdk: flutter
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/doom1.wad
  fonts:
    - family: BigBlue_TerminalPlus
      fonts:
        - asset: assets/BigBlue_Terminal_v1.0/BigBlue_TerminalPlus.TTF